.body_backgorund 
{
    background-image:url(backg.jpg);
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h3
{
	width: 1000px;
	background-color:#66e4ff;
	display: inline-block;
    border-radius: 50px;
    padding-bottom: 3px;
    padding-top: 1px;
    border-color: #3a1b67;
    border-style: dashed;
    border-width: 3px;
}

